#!/bin/bash

# Tmux Themes
catppucin_dir=~/.config/tmux/plugins/catppuccin
echo $catppucin_dir
if [ ! -d $catppucin_dir ]; then
  mkdir -p $catppucin_dir
  git clone https://github.com/catppuccin/tmux.git $catppucin_dir
fi

